*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Noto Sans", sans-serif;
    background: linear-gradient(180deg, #040918 0%, #091540 100%);
    background-repeat: no-repeat;
    height: 100vh;
}
header{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 10px 15px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(83, 83, 83, 0.494);
    z-index: 1000;
    border-radius: 20px;
    
}
.dark{
    display:none;
    background-color: hsl(0, 0%, 93%);
    padding: 10px 10px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition:background-color 0.3s ease
}


.light{
    background-color: rgb(83, 83, 83);
    padding: 10px 10px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.light:hover{
    background-color: hsl(0, 1%, 47%);

}
.dark:hover{
    background-color: hsl(0, 0%, 59%);
}
/* main section styles */
main{
    margin-top: 120px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
section{
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.filter-buttons{
    background-color: rgba(83, 83, 83, 0.605);
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    transition: background-color 0.3s ease;
}
.filter-buttons:hover{
    background-color: hsl(0, 0%, 88%);   
}
.clicked{
    background-color: hsl(3, 77%, 44%);
    color: #fff;
}
/* extensions list styles */
.box{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px; /* space between grid items (rows and columns) */
}
.boxes{
    padding: 20px;
    background-color: hsl(226, 25%, 17%);
    margin-top: 20px;
    border-radius: 20px;
}


.box-title{
    display: flex;
    align-items: center;
    gap: 20px;
}
.box-description p{
    padding-top: 5px;
    color: rgb(200, 200, 200);
}
.box-options{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.remove{
    background-color: hsl(226, 25%, 17%);
    border: 1px solid rgb(112, 111, 111);
    padding: 8px 15px;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.remove:hover{
    background-color: hsl(0, 1%, 26%);
    
}
/*light mode styles*/
.light-mode{
    background: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    color: #000;
}
.boxes-light-mode{
    background-color: #fff;
    border: 1px solid rgb(216, 216, 216);
    color: #000;
}

.main-light-mode{
    color: #000;
} 
.header-light-mode{
    background-color: #fff;
    border: 1px solid rgb(216, 216, 216);
}
.filter-buttons-light{
    background-color: #fff;
    color: #000;
    border: 1px solid rgb(216, 216, 216);
}
