<h1>Insert a new extension</h1>
<form action="submit">
    <label for="icon">Enter Icon:</label><br>
    <input type="file" id="icon" name="icon" accept="image/*"><br>
    <label for="name">Extension Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="description">Description:</label><br>
    <textarea id="description" name="description"></textarea><br>
    <label for="state">State:</label><br>
    <select id="state" name="state">
        <option value="a">Active</option>
        <option value="b">Inactive</option>
    </select><br><br>
    <input type="submit" value="Submit">
</form>