<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- displays site properly based on user's device -->

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% load static %}
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/favicon-32x32.png' %}">



  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">

  <title>Browser extensions manager UI</title>

</head>

<body>
  <header>
    <img src="{% static 'assets/images/logo.svg' %}" class="logo" alt="logo" srcset="">
    <img src="{% static 'assets/images/icon-moon.svg' %}" class="dark" alt="dark" srcset="">
    <img src="{% static 'assets/images/icon-sun.svg' %}" class="light" alt="light">
  </header>
  <main>
    <section>
      <h1>Extensions list</h1>
      <div class="filters">
        <button class="filter-buttons">All</button>
        <button class="filter-buttons">Active</button>
        <button class="filter-buttons">Inactive</button>
      </div>
      <button class="create-btn" onclick="create()">Insert New Extension</button>
    </section>
    <div class="box">

    </div>
  </main>

  <!-- Modal Popup for Create Extension -->
  <div id="createModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div id="modal-body">
        <!-- Content from create.html will be loaded here -->
      </div>
    </div>
  </div>


  <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>

</html>